.root {
     -fx-background-color:#DABB96;
}

.label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.9) , 0,0,0,1 );
}
.button:hover {
-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.9) , 0,1,1,1 );
-fx-font-size:15px;
-fx-background-color:#E5781F;
}
.button {
-fx-font-size:14px;
-fx-background-color :#D9E1D8;
}
#Menu:hover {
-fx-background-color:#DABB96;
}

#mi:hover {
-fx-font-size:15px;
-fx-background-color:#DABB96;
}
#mi {
-fx-background-color :#D9E1D8;
}
#ah {
-fx-background-color:#D9E1D8;
}
}
#ap {
-fx-background-color:#D9E1D8;
}
#LV {
-fx-background-color:#DABB96;
;
}